/*
 * @name         Enhanced Discord ☁️
 * @author       NobiteK
 * @description  Enhanced Discord Theme ⛅
 * @version      3.0
 * @invite       ZSCFu2J
 * @authorId     430436408386125824
*/

/* This theme is a combination of many other themes from different developers and is for personal use only */

 @import url(https://nyri4.github.io/Discolored/main.css);
 @import url(https://nyri4.github.io/donators/donators.css);

 @import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/_res/SupporterBadge.css);
 @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
 @import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/SettingsModal/SettingsModal.theme.css);
 @import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/DiscordRecolor/DiscordRecolor.theme.css);

 @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/RemoveMinimumSize.css) (width: 940px); /* Warning to Remove Minimum Size */
 @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css) (max-width: 940px);

:root {

	/* SettingsIcons */
	--settingsicons:		1; 			/* Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no	*/

	/* SettingsModal */
	--settingsmodalbackground: 	transparent;		/* default: transparent	(lowest bg color of changed windows, change it in case another theme turns them transparent) */
	--settingsmodalwidth:      	1400px;			/* default: 960px	(width of the settings modal, px/vw)	*/
	--settingsmodalheight:     	80vh;			/* default: 80vh	(height of the settings modal, px/vh)	*/

	/* midnight-discord */
	--list-item-transition: 0.15s ease; 		/* channels/members/settings hover transition	  */
	--icon-spin-transition: 1s ease; 		/* round icon button spin (settings, emoji, etc.) */

}

/*		 Custom CSS from midnight-discord		*/

/* list hover animations */
.wrapper_d8bfb3 .link_d8bfb3 /* channels */,
.container_e9f61e /* members */,
.channel_c91bad /* dms */,
.side_a0 .item_a0 /* settings */ {
	transition: margin-left var(--list-item-transition);
}
.wrapper_d8bfb3:hover .link_d8bfb3,
.side_a0 .item_a0:hover {
	margin-left: 10px;
}
.container_e9f61e:hover,
.channel_c91bad:hover {
	margin-left: 18px;
}

/* spin hover animations */
button.button_f67531 /* make user panel buttons round */ {
	border-radius: 50%;
}
.attachButton_f298d4 .attachButtonInner_f298d4 /* upload button */,
.emojiButton_d0696b .contents_dd4f85 /* emoji button */,
.closeButton_df5532 /* settings exit button */,
.contents_dd4f85 > .closeIcon_f9a4c9 /* modal close */ {
	transition: transform var(--icon-spin-transition);
}
.button_f67531:last-child:hover .contents_dd4f85,
.attachButton_f298d4:hover .attachButtonInner_f298d4,
.emojiButton_d0696b:hover .contents_dd4f85,
.closeButton_df5532:hover,
.contents_dd4f85:hover > .closeIcon_f9a4c9 {
	transform: rotate(360deg);
}

/* reduced motion */
:root.reduce-motion {
	--list-item-transition: none;
	--icon-spin-transition: none;
}

/* fix padding */
#vc-spotify-player /* vencord spotify */,
.container_adcaac /* vc panel */,
.panel_bf1a22 /* stream panel */ {
	padding: 10px;
}



/*		Custom CSS fixes etc.		*/

/* SOON */
