/*
 * @name         Enhanced Discord ☁️
 * @author       NobiteK
 * @description  Enhanced Discord Theme ⛅
 * @version      3.0
 * @invite       ZSCFu2J
 * @authorId     430436408386125824
*/

/* This theme is a combination of many other themes from different developers and is for personal use only */

 @import url(https://nyri4.github.io/Discolored/main.css);
 @import url(https://nyri4.github.io/donators/donators.css);

 @import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/_res/SupporterBadge.css);
 @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
 @import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/SettingsModal/SettingsModal.theme.css);
 @import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/DiscordRecolor/DiscordRecolor.theme.css);

 @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/RemoveMinimumSize.css) (width: 940px); /* Warning to Remove Minimum Size */
 @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css) (max-width: 940px);

:root {

	/* SettingsIcons */
	--settingsicons:		1; 			/* Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no	*/

	/* SettingsModal */
	--settingsmodalbackground: 	transparent;		/* default: transparent	(lowest bg color of changed windows, change it in case another theme turns them transparent) */
	--settingsmodalwidth:      	1400px;			/* default: 960px	(width of the settings modal, px/vw)	*/
	--settingsmodalheight:     	80vh;			/* default: 80vh	(height of the settings modal, px/vh)	*/

	/* midnight-discord */
	--list-item-transition: 0.15s ease; 		/* channels/members/settings hover transition	  */
	--icon-spin-transition: 1s ease; 		/* round icon button spin (settings, emoji, etc.) */

}

/*		 Custom CSS from midnight-discord		*/

/* list hover animations */
.wrapper__2ea32 .link__2ea32 /* channels */,
.container__91a9d /* members */,
.channel__972a0 /* dms */,
.side_b3f026 .item_b3f026 /* settings */ {
	transition: margin-left var(--list-item-transition);
}
.wrapper__2ea32:hover .link__2ea32,
.side_b3f026 .item_b3f026:hover {
	margin-left: 10px;
}
.container__91a9d:hover,
.channel__972a0:hover {
	margin-left: 18px;
}

/* spin hover animations */
button.button__67645 /* make user panel buttons round */ {
	border-radius: 50%;
}
.attachButton__0923f .attachButtonInner__0923f /* upload button */,
.emojiButton_d0696b .contents__201d5 /* emoji button */,
.closeButton_c2b141 /* settings exit button */,
.contents__201d5 > .closeIcon__49fc1 /* modal close */ {
	transition: transform var(--icon-spin-transition);
}
.button__67645:last-child:hover .contents__201d5,
.attachButton__0923f:hover .attachButtonInner__0923f,
.emojiButton_d0696b:hover .contents__201d5,
.closeButton_c2b141:hover,
.contents__201d5:hover > .closeIcon__49fc1 {
	transform: rotate(360deg);
}

/* reduced motion */
:root.reduce-motion {
	--list-item-transition: none;
	--icon-spin-transition: none;
}

/* fix padding */
#vc-spotify-player /* vencord spotify */,
.container_e131a9 /* vc panel */,
.panel__5dec7 /* stream panel */ {
	padding: 10px;
}
