/*
 * @name         Enhanced Discord ☁️
 * @author       NobiteK
 * @description  Enhanced Discord Theme ⛅
 * @version      3.0
 * @invite       ZSCFu2J
 * @authorId     430436408386125824
*/

/* This theme is a combination of many other themes from different developers and is for personal use only */

 @import url(https://nyri4.github.io/Discolored/main.css);
 @import url(https://nyri4.github.io/donators/donators.css);

 @import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/_res/SupporterBadge.css);
 @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
 @import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/SettingsModal/SettingsModal.theme.css);
 @import url(https://raw.githubusercontent.com/mwittrien/BetterDiscordAddons/master/Themes/DiscordRecolor/DiscordRecolor.theme.css);

 @import url(https://discord-extensions.github.io/bubble-bar/src/source.css);

 @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/addon/RemoveMinimumSize.css) (width: 940px); /* Warning to Remove Minimum Size */
 @import url(https://maendisease.github.io/BetterDiscordStuff/Themes/Float/Float.css) (max-width: 940px);

:root {

	/* SettingsIcons */
	--settingsicons:		1; 			/* Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no	*/

	/* SettingsModal */
	--settingsmodalbackground: 	transparent;		/* default: transparent	(lowest bg color of changed windows, change it in case another theme turns them transparent) */
	--settingsmodalwidth:      	1400px;			/* default: 960px	(width of the settings modal, px/vw)	*/
	--settingsmodalheight:     	80vh;			/* default: 80vh	(height of the settings modal, px/vh)	*/

	/* midnight-discord */
	--list-item-transition: 0.15s ease; 		/* channels/members/settings hover transition	  */
	--icon-spin-transition: 1s ease; 		/* round icon button spin (settings, emoji, etc.) */

}

/*		 Custom CSS from midnight-discord		*/

/* list hover animations */
.wrapper__612a5 .link_ddbb36 /* channels */,
.container_a48b21 /* members */,
.channel__0aef5 /* dms */,
.side_b4b3f6 .item__48dda /* settings */ {
	transition: margin-left var(--list-item-transition);
}
.wrapper__612a5:hover .link_ddbb36,
.side_b4b3f6 .item__48dda:hover {
	margin-left: 10px;
}
.container_a48b21:hover,
.channel__0aef5:hover {
	margin-left: 18px;
}

/* spin hover animations */
button.button_ae40a4 /* make user panel buttons round */ {
	border-radius: 50%;
}
.button_ae40a4:last-child .contents__322f4 /* settings button */, 
.attachButton__56f98 .attachButtonInner__84c26 /* upload button */,
.emojiButton_b63c38 .contents__322f4 /* emoji button */,
.closeButton__8177f /* settings exit button */,
.contents__322f4 > .closeIcon__16020 /* modal close */ {
	transition: transform var(--icon-spin-transition);
}
.button_ae40a4:last-child:hover .contents__322f4,
.attachButton__56f98:hover .attachButtonInner__84c26,
.emojiButton_b63c38:hover .contents__322f4,
.closeButton__8177f:hover,
.contents__322f4:hover > .closeIcon__16020 {
	transform: rotate(360deg);
}

/* reduced motion */
:root.reduce-motion {
	--list-item-transition: none;
	--icon-spin-transition: none;
}

/* fix padding */
#vc-spotify-player /* vencord spotify */,
.container_e1958d /* vc panel */,
.panel_bd8c76 /* stream panel */ {
	padding: 10px;
}



/*		Custom CSS fixes etc.		*/

/* SOON */
